@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

// set page size
:root {
  background-color: lightgray;
  width: 700px;
  height: 500px;
  padding: 20px;
}
